<template name="addNewRecipe">
	{{#if currentUser}}
	
	<section>
		<h1>
			Add new recipe
		</h1>

		<form class="newRecipe" name="addNewRecipeF" id="addNewRecipeF">
			<fieldset>
				<legend>Please provide details of your recipe</legend>
				<div class="form-group">
					<label for="recipeName">Recipe name</label>
					<span class="formError" id="recipeName-error"></span>
					<input type="text" name="recipeName" placeholder="What's your recipe called? Be descriptive rather than artistic to help people find it" class="form-control">
				</div>

				<div class="form-group">
					<label for="ingredients">Ingredients</label>
					<span class="formError" id="ingredients-error"></span>
					<textarea name="ingredients" id="ingredients" placeholder="One per line. Use format '20g of butter' to be easier to discover" class="form-control"></textarea>
				</div>

				<div class="form-group">
					<label for="method">Method</label>
					<span class="formError" id="method-error"></span>
					<textarea name="method" id="method" placeholder="Describe step by step how your dish is made" class="form-control"></textarea>
				</div>
				
				<div class="form-group">
					<label for="method">Notes</label>
					<span class="formError" id="notes-error"></span>
					<textarea name="notes" placeholder="If there are any notes on the recipe you'd like to add, go ahead" class="form-control"></textarea>
				</div>
			</fieldset>
			<div class="row">
				<div class="col-md-2">
					<button type="submit" class="btn btn-primary">Add recipe</button>
				</div>
				<div class="col-md-10 text-right" id="split-ingredients"></div>
			</div>
		</form>
	</section>

	{{/if}}
</template>

<template name="addNewRecipe-outer">
	<div id="image-upload-drop-target" class="row">
		<div class="col-md-8">
			{{> addNewRecipe}}
		</div>
		<div class="col-md-4">
			<section id="images-upload-results" class="hidden">
				<h2>Pictures of this recipe</h2>
				<div id="images-upload-thumbnails">

				</div>
			</section>
		</div>
	</div>
	<div id="upload-notice" class="text-center bg-info">
	<p>Drop images below to add them to your recipe</p>
	</div>
</template>