<template name="listMyRecipes">
{{#if Template.subscriptionsReady}}
    {{#if currentUser}}
        <h1>
            My recipes
        </h1>
        <p>Showing {{numRecipesShowing}} out of {{recipeCount}}</p>
        <ol>
            {{#each recipes}}
            {{> longMyRecipe}}
            {{/each}}
        </ol>
    {{/if}}
{{/if}}
</template>

<template name="longMyRecipe">
	<li>
		<a href="{{pathFor route='viewRecipe'}}">{{recipeName}}</a> &mdash; 
        Added {{>createdDate}}
        {{#each ingredientTags}}
            <span class="badge">{{.}}</span>
        {{/each}}
	</li>
</template>

<template name="listMyRecipes-outer">
    <div class="row">
        <div class="col-md-8">
            {{> listMyRecipes}}
        </div>
    </div>
</template>