<template name="listRecipes">
    <h2>
        All recipes
    </h2>
    <p>Showing {{numRecipesShowing}} out of {{recipeCount}}</p>
    <ol>
        {{#each recipes}}
        {{> longRecipe}}
        {{/each}}
    </ol>
</template>


<template name="longRecipe">
	<li>
		<a href="{{pathFor route='viewRecipe'}}">{{recipeName}}</a> &mdash; Added {{formatDate createdDate}} by {{createdBy}}
	</li>
</template>

<template name="listRecipes-outer">
    <div class="row">
        <div class="col-md-8">
            {{> longRecipe}}
        </div>
    </div>
</template>