<template name="listRecipes">
    <h1>
        All recipes
    </h1>
    <p>Showing {{numRecipesShowing}} out of {{recipeCount}}</p>
    <ol>
        {{#each recipes}}
        {{> longRecipe}}
        {{/each}}
    </ol>
</template>


<template name="longRecipe">
	<li>
		<a href="{{pathFor route='viewRecipe'}}">{{recipeName}}</a> &mdash; Added {{>createdDate}} by {{createdByName}}
        {{#each ingredientTags}}
            <span class="badge">{{.}}</span>
        {{/each}}
	</li>
</template>

<template name="listRecipes-outer">
    <div class="row">
        <div class="col-md-8">
            {{> longRecipe}}
        </div>
    </div>
</template>

<template name="createdDate">
    {{#if updatedAt}}
        <span title="Updated {{formatDate updatedAt}}">{{formatDate createdAt}}</span>
    {{else}}
        {{formatDate createdAt}}
    {{/if}}
</template>