<template name="viewRecipe">
	<a href="{{pathFor route="editRecipe"}}" class="btn btn-default btn-primary pull-right" role="button" style='margin-top: 20px'>Edit recipe</a>
	<h1>{{recipeName}}</h1>
	<div class="row">
		{{#if notes}}
		<div class="col-md-12 recipe-notes">
			<section id="notes">
				{{#each show src=notes}}
				<p>{{line}}</p>
				{{/each}}
			</section>
		</div>
		{{/if}}
	</div>
	<div class="row">
		<div class="col-md-2">
			<section id="ingredients">
				<h2>Ingredients</h2>
				{{#each showIngredients src=ingredients}}
					{{>ingredientsLine}}
				{{/each}}
			</section>
		</div>
		<div class="col-md-7">
			<section id="method">
				<h2>Method</h2>

				<div id="temperature-conversion" class="hidden btn-group btn-group-xs" role="group" aria-label="temperature conversions">
  					<button type="button" class="btn btn-default temp-converter" data-scale="C">Celsius</button>
  					<button type="button" class="btn btn-default temp-converter" data-scale="F">Fahrenheit</button>
  					<button id="gasmark-button" type="button" class="btn btn-default temp-converter hidden" data-scale="GasMark">Gas mark</button>
  				</div>
  				<ol>
				{{#each show src=method}}
				<li>{{line}}</li>
				{{/each}}
				</ol>
			</section>
		</div>
		<div class="col-md-3">
			{{#each images}}
			<div class="view-recipe-thumbnails">
				<img class="view-recipe-thumbnail {{randomRotation}} img-responsive img-thumbnail" src="{{get640}}">
			</div>
			{{/each}}
		</div>
	</div>
</template>

<template name="ingredientsLine">
{{#if line.heading}}
	<h3>{{line.text}}</h3>{{/if}}
{{#if line.ingredient}}
	<p>{{line.text}}</p>
{{/if}}
</template>