.container.main {
	background-color: transparent;

}

#page {
	background-color: rgba(255,255,255, 0.85);
	padding-bottom: 40px;
	margin-top: 50px;
}

#login-buttons {
	padding: 10px 0 0 0;
	color: white;
}

.navbar .nav > li > div#login-buttons a {
    float: none;
    padding: 10px 15px 0 0;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}

.navbar-inverse .nav > li > div#login-buttons a {
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#nav-login-button .login-display-name {
	display: none;
}

#nav-login-button .login-button {
	margin-left: 15px;
}

.recipe-notes p {
	font-style: italic;
}

textarea#ingredients {
	min-height: 10em
}

@media (min-width: 768px) {
	#nav-login-button .login-display-name {
		display: inline-block;
		margin-right: -10px;
		margin-top: 4px;
	}
}