.container.main {
	background-color: transparent;
	transition: background-color 1500ms linear;
}

#page {
	background-color: rgba(255,255,215, 0.95);
	padding-bottom: 40px;
	margin-top: 50px;
}

#login-buttons {
	padding: 10px 0 0 0;
	color: white;
}