
#images-upload {
	height: 200px;
}

body.uploading div#bodyProxy {
	background-color: red;
	transition: background-color 1500ms linear;
}

body.you-can-upload div#upload-notice {
	display: block;
}

div#upload-notice {
	display: none;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: lightblue;
	padding: 10px 100px;
	width: 350px;
	position: fixed;
	font-size: 12px;
	top: 90px;
	right: -90px;
	height: 60px;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#images-upload.uploaded {
	background-color: white;
}